<div class="container" ng-controller="ChatCtrl as chatCtrl">
	<div class="col-md-12">
		<h1> Home </h1>
	</div>
	<div class="col-md-4">
		<p>Welcome to Edgardo's Web Chat!</p>
		
		<div id="chat_form">
			<form name="input_message_form" class="form_inline" ng-submit="sendChatMsg()">
				<div class="form-group">
					<label for="chat_input">Message: </label>
					<input type="text" class="" ng-model="input_message" placeholder="Enter Message Here..." required>		
					<button type="submit" class="btn btn-default">Chat!</button>
				</div>
			</form>
		</div>
	</div>
	<div class="col-md-7 col-md-offset-1">
		<div  id="chat_window">
			<div class="animate-repeat" ng-repeat="msg in chatCtrl.chat">
				{{msg}}
			</div>
		</div>
	</div>
</div>